#navbar {
  margin: 0px;
  border-radius: 0px;
  padding: 2vw;
  background: RGBA(89, 225, 200, 10.01);
  background: linear-gradient(
    90deg,
    rgba(89, 225, 200, 1) 0%,
    rgba(15, 150, 217, 1) 50%,
    rgba(89, 225, 200, 1) 100%
  );
  background-blend-mode: multiply;
  box-shadow: 0px 0.5vw 2vw 0.1vw rgba(0, 0, 0, 0.327);
  height: 100%;
}

#navbar #bottom {
  display: none;
}
#upload {
  width: 50%;
  box-shadow: 0px 0px 2em 5px rgb(207, 207, 207);
  padding: 2vw;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  text-align: center;
}

#upload h1 {
  font-size: 4vw;
  font-family: "kanit";
}

#upload form {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1vw;
  margin-top: 2vw;
  width: 50%;
}

#upload form input {
  font-size: 1vw;
  width: 100%;
  margin: auto;
  border: 0px solid black;
  margin-top: 1vw;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 0.5vw;
  outline: none;
}

#upload form input::placeholder {
  color: rgb(184, 184, 184);
}

#upload form button {
  border: 0px solid black;
  font-size: 1vw;
  margin-top: 2vw;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0.5vw;
  border-radius: 0.5vw;
  border: 1px solid black;
  width: 30%;
}

#upload form button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

#upload form select {
  width: 100%;
  margin: auto;
  border: 0px solid black;
  margin-top: 1vw;
  font-size: 1vw;
  background-color: white;
  padding: 0.5vw;
  border-bottom: 1px solid rgb(214, 214, 214);
  color: rgb(184, 184, 184);
  width: 90%;
}

#upload form #imageupload {
  margin-top: 2.5vw;
  margin-bottom: 2vw;
  text-align: center;
  font-family: "kanit";
}

#upload form label {
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border: 1px solid rgb(201, 201, 201);
  padding: 0.5vw;
  font-family: "kanit";
  font-size: 0.7vw;
  width: 50%;
  color: rgb(184, 184, 184);
}

#upload form label:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#upload form #uploadbutton {
  width: 30%;
  margin: auto;
  border: 1px solid black;
}
#upload form #uploadbutton:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#orders {
  width: 75%;
  box-shadow: 0px 0px 2em 5px rgb(207, 207, 207);
  padding: 2vw;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  text-align: center;
}

#orders h1 {
  font-size: 4vw;
  font-family: "kanit";
  margin-bottom: 2vw;
}

#orders table {
  margin: auto;
  font-family: "khula";
  border-collapse: collapse;
  box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.062);
  border-radius: 1vw;
}

#orders table th {
  border-bottom: 1px solid black;
  font-size: 1.3vw;
  padding: 0.5em;
  font-weight: 700;
  text-align: left;
  background-color: black;
  color: white;
  text-indent: 0.5vw;
}

#orders table td {
  border-bottom: 2px solid rgba(190, 190, 190, 0.253);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-size: 1vw;
  text-align: left;
  text-indent: 1vw;
}

#orders table a {
  text-decoration: none;
  color: black;
  font-size: 1vw;
}

#users {
  width: 75%;
  box-shadow: 0px 0px 2em 5px rgb(207, 207, 207);
  padding: 2vw;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  text-align: center;
}

#users h1 {
  font-size: 4vw;
  font-family: "kanit";
  margin-bottom: 2vw;
}

#users table {
  margin: auto;
  font-family: "khula";
  border-collapse: collapse;
  box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.062);
  border-radius: 1vw;
}

#users table th {
  border-bottom: 1px solid black;
  font-size: 1.3vw;
  padding: 0.5em;
  font-weight: 700;
  text-align: left;
  background-color: black;
  color: white;
  text-indent: 0.5vw;
}

#users table td {
  border-bottom: 2px solid rgba(190, 190, 190, 0.253);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-size: 1vw;
  text-align: left;
  text-indent: 1vw;
}

#users table a {
  text-decoration: none;
  color: black;
  font-size: 1vw;
}

#error {
  width: 80%;
  margin: auto;
  text-align: center;
  height: 20vw;
}

#error h1 {
  margin-top: 5vw;
  font-size: 2vw;
  color: red;
}
