

#footer {
    display: flex;
    background-color: transparent;
    padding: 4vw;
    padding-top: 2vw;
    border-top: 3px solid #1e4b8321;
    width: 85%;
    margin: auto;
    border-radius: 1vw;
}

#footer h3 , #footer p , #footer a{
    color: white;
    font-size: 1.5vw;
    color: #152E4D;

}

#footer h3 {
    font-size: 2vw;
    color: #152E4D;
}

#footer #left{
    width: 35%;
}

#footer #left #top{
    margin-bottom: 2em;
}

#footer #left #top #subtitle{
    display: flex;
}

#footer #left #top #subtitle div{
    margin: auto;
    margin-left: 0px;

}

#footer #left #top #subtitle div{
    margin: auto;
    margin-left: 0px;
}

#footer #left #top #subtitle div a{
    text-decoration: none;
}

#footer #left #top #subtitle div p{
    text-align: left;
    font-size: 1vw;
    color: #152e4d66;
}


#footer #left #bottom p{
    font-size: 1vw;
}



#footer #mid{
    width: 30%;
    border: 3px solid #152e4d1f;
    border-top: 0px;
    border-bottom: 0px;
}

#footer #mid img{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10%;
}

#footer #right{
    width: 35%;
    text-align: right;

}

#footer #right #top{
    margin-bottom: 2em;
}

#footer #right #top img{
    width: 60%;
}

#footer #right #top #media {
    display: flex;
    width: 25%;
    margin-left: auto;
    gap: 2em;
}

#footer #right #bottom{

}

#footer #right #bottom a{
    font-size: 1vw;
    display: block;
    text-align: right;
    text-decoration: none;
}

#footer #right #bottom #links #toplinks {
    margin-left: auto;
    width: 90%;
    margin-bottom: 1em;
}

#footer #right #bottom #links #toplinks a {
    display: block;
    font-size: 1vw;
}