
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


body{
    --angle:90deg;
background: #1a4078;
background: linear-gradient(var(--angle), rgba(26, 64, 120, 1) 0%, rgba(100, 182, 250, 1) 55%, rgba(21, 46, 77, 1) 100%);
    box-sizing: border-box;
    padding: 10%;
    padding-bottom: 13%;
    animation: gradient-animation 50s linear infinite ;
    background-blend-mode: multiply;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
}

@keyframes gradient-animation {
    from {
        --angle:0deg;
    }
    to {
        --angle:360deg;
        
    }
}


#navbar #bottom {
    display: none;
}


#top {
    background-color: transparent;
    width: 45em;
    background-color: transparent;
    margin: auto;
    text-align: left;
    margin-bottom: 1vw;
}
#top a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

#mostouterform form #options {
    margin: auto;
    margin-top: 3em;
}



#mostouterform {
    border: 1px solid black; 
    margin: auto;
    padding: 1em;
    border: 0px;
    width: 45em;
    aspect-ratio: 16/9;
    box-shadow: 0px 0px 1.5em 0.5em rgba(0, 0, 0, 0.137);
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.031); /* Semi-transparent background */
    backdrop-filter: blur(100px); /* Apply blur to the background behind this element */
    -webkit-backdrop-filter: blur(100px); /* For Webkit-based browsers */
    
}

#mostouterform h3 {
    font-size: 6em;
    text-align: center;
    font-weight: 1000;
    width: 40%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#mostouterform #border {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding: 0px;
    margin: auto;
    margin-top: 0px;
    width: 20%;
    margin-bottom: 10%;
}
#mostouterform #border2 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.103);
    padding: 0px;

    margin: auto;
    margin-top: 2%;
    width: 25%;
}

#mostouterform form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    
}

#mostouterform  form #error1 p {

    color: rgb(241, 0, 0); 
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: "kanit";
    
}
#mostouterform  form #error2 p {
    
    font-family: "kanit";
    color: rgb(241, 0, 0); 
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.5em;
}
#mostouterform form input {
    font-size: 1.7em;
    margin-bottom: 1vw;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    outline: none;
    padding-bottom: 0.5vw;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}

#mostouterform form input::placeholder{
    color: rgba(255, 255, 255, 0.527);
}

#mostouterform form a {
    text-decoration: none;
    opacity: 0.5;
}
#mostouterform form a p {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: right;
    margin: 0px;
    margin-top:0vw;
}
#mostouterform #pass1 {
    display: flex;
}

#mostouterform #pass1 img{
    width: 100%;
}

#showpassicon {
    width: 5vw;
}
    
#mostouterform form button {
    font-size: 1em;
    font-weight: 1000;
    padding: 1.5em;
    background-color: rgba(31, 29, 29, 0);
    color: white;
    border: 0px;
    margin: auto;
    border-radius: 1.5em;
    margin-top: 5em;
    width: 40%;
    border: 2px solid rgba(255, 255, 255, 0.315);
}

#mostouterform form button:hover{
    cursor: pointer;
}
#mostouterform form button p{
    font-size: 1.3em;
}


#mostouterform #formart {
    margin: auto;
    margin-top: 2em;
    display: none;
    width: 80%;
    height: 13vw;
    border-radius: 2em;
}
    

#formvideo{
    position: fixed;
    object-fit: cover;
    justify-content: center;
    width: 100%;
}



#mostouterform #pass {
    display: flex;
}

#mostouterform #pass input[type="checkbox"]{
    -webkit-appearance: none;
    width: 1em;
    border: 0px;
}

#mostouterform #pass input[type="checkbox"]:hover + label{
    opacity: 1;
}

#mostouterform #pass input[type ="checkbox"]:checked + label{
    opacity: 1;

}

#mostouterform #pass label{
    width: 3em;
    padding: 0px;
    opacity: 0.5;
} 
#mostouterform #pass label:hover{
    cursor: pointer;
} 

#mostouterform #pass label img{
    border-bottom: 1px solid rgba(255, 255, 255, 0.815);
    padding-bottom: 0.1vw;
    width: 100%;
} 

