@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Khula:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


h1 {
  font-family: "kanit", serif;
  margin: 0px;
  padding: 0px;
}
h3 {
  font-family: "khula", serif;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}
h6 {
  font-family: "khula", serif;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}
h5 {
  font-family: "khula", serif;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}
p {
  font-family: "Instrument Sans", serif;
  font-size: 1.3em;
  margin: 0px;
  padding: 0px;
}
a {
  font-family: "Instrument Sans", serif;
  font-size: 1.3em;
  margin: 0px;
  padding: 0px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#navbar {
  --angle: 90deg;
  padding-bottom: 8vw;
  padding-top: 0.1px;
  height: 30vw;
}

#navbarvideo {
  position: absolute;
  width: 100%;
  display: block;
}
#navbarvideo video{
  position: absolute;
  width: 50%;
}
#navbarvideov {
  position: absolute;
  width: 100%;
  display: none;
}
#navbarvideov video{
  position: absolute;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  #navbar {
    padding-top: 1em;
    height: 120vw;
  }
}

@keyframes gradient-animation {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

#navbar #top {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 1vw;
  padding-right: 2em;

}

#navbar #top img {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.479);
  padding: 0.1em;
  padding-bottom: 0.2em;
  opacity: 0.7;
  transition-duration: 800ms;
  transition-property: border-bottom opacity;
}

#navbar #top img:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.884);
  opacity: 1;
}

#navbar #top #left {
  margin: auto;

  width: 4em;
  padding: 1vw;
  margin-left: 0px;
}

#navbar #top #left img {
  width: 100%;
  border: 0px;
  opacity: 1;
  padding-bottom: 0px;
}
#navbar #top #left img:hover {
  filter: brightness(50000);
  animation: expose 50ms linear;
}

#navbar #top #rightbox {
  display: flex;
  margin-left: auto;
  width: 16em;
  gap: 3em;
}

#navbar #top #rightbox button {
  border: 0px;
  background-color: transparent;
}

#navbar #top #rightbox button p{
  font-size: 1em;
}
#navbar #top #rightbox button:hover {
  cursor: pointer;
}
#navbar #top #rightbox a {
  margin: 0px;
  display: inline;
  margin: auto;
  text-decoration: none;
  font-size: 0.5em;
}

#navbar #top #rightbox a img {
  width: 100%;
}

#navbar #top #rightbox a p{
  font-size: 1em;
  text-decoration: none ;
}



@media only screen and (max-width: 900px) {
  #navbar #top #left {
    width: 15%;
  }
  #navbar #top #rightbox {
    width: 50%;
    gap: 1em;
  }
}

@media only screen and (max-width: 600px) {
  
  #navbar {
    padding-top: 1px;
  }
  
  #navbar #top{
    margin-top: 2vw;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.349);
  }

  #navbar #top img{
    border: 0px;
  }
  #navbar #top #rightbox {
    width: 45%;
    gap: 1em;
  }
}

/*#############################################*/

#navbar #searchbox {
  background-color: rgba(255, 255, 255, 0.459);
  height: 30em;
  margin: auto;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.315);
  padding-top: 5vw;
  z-index: 25;
  backdrop-filter: blur(1em);
  margin-top: 1vw;
  border-radius: 1em;
  padding-top: 0px;
}

#navbar #searchbox #search {
  margin: auto;
  width: 80%;
  margin-top: 2vw;
  display: flex;
  border-radius: 1em;
  outline: 0px solid black;
}

#navbar #searchbox #search form {
  padding: 0.5em;
  display: flex;
  width: 80%;
  margin: auto;
  color: rgb(255, 255, 255);
  border: 1.5px solid rgba(24, 23, 23, 0.404);
  border-radius: 1vw;
}

#navbar #searchbox #search form button {
  width: 4.5em;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5vw;
  border: 0px;
  opacity: 0.5;
}

#navbar #searchbox #search form button:hover {
  cursor: pointer;
  opacity: 1;
}

#navbar #searchbox #search form button img {
  width: 100%;
  opacity: 0.7;
}

#navbar #searchbox #search input {
  font-size: 1.5em;
  outline: none;
  width: 100%;
  text-indent: 0px;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  text-indent: 1vw;
  color: rgb(5, 5, 5);
  outline: 0px;
  border-radius: 1em;
}

#navbar #searchbox #search input::placeholder {
  color: rgb(22, 21, 21);
  letter-spacing: 0.3em;
}

#navbar #searchbox #search input:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 900px) {
  #navbar #searchbox {
    height: 20em;
  }
  #navbar #searchbox #search form {
    padding: 0.2em;
    width: 90%;
    margin-top: 1em;
  }
  #navbar #searchbox #search form input {
    font-size: 1em;
  }

  #navbar #searchbox #search form button {
    width: 2em;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5vw;
    border: 0px;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 600px) {

    #navbarvideo {
    position: absolute;
    width: 100%;
    display: none;
  }
  #navbarvideo video{
    position: absolute;
    width: 50%;
  }
  #navbarvideov {
    position: absolute;
    width: 100%;
    display: block;
  }
  #navbarvideov video{
    position: absolute;
    width: 50%;
  }

  #navbar {
    padding-top: 1px;
    height: 150vw;
  }

  #navbar #searchbox {
    height: 30em;
    margin-top: 1em;
    width: 85%;
    margin-left: 5%;
  }
  #navbar #searchbox #search form {
    padding: 0.2em;
    width: 90%;
    margin-top: 1em;
  }
  #navbar #searchbox #search form input {
    font-size: 1em;
  }

  #navbar #searchbox #search form button {
    width: 2em;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5vw;
    border: 0px;
    opacity: 0.5;
  }
}

/*#############################################################*/

#navbar #categorybox {
  background-color: rgba(255, 255, 255, 0.459);
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.315);
  z-index: 25;
  backdrop-filter: blur(1em);
  width: 70%;
  margin: auto;
  margin-left: 16%;
  margin-top: 2em;
  border-radius: 1em;
  position: absolute;
  overflow: hidden;
}

#navbar #categorybox #categorytitle {
  margin-top: 0.5em;
  font-weight: 1000;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
  color: #213e5a;
  text-align: center;
}

#navbar #categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding-bottom: 5vw;
  border-radius: 2vw;
  margin-top: 0px;
}

@media only screen and (max-width: 900px) {
  #navbar #categories {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

#navbar #categories div {
  width: 4em;
  margin: auto;
  margin-top: 2vw;
  text-align: center;
  opacity: 0.8;
  border: 0px solid rgba(0, 0, 0, 0.062);
  border-radius: 1vw;
  transition-duration: 500ms;
  transition-property: opacity;
}

#navbar #categories div:hover {
  opacity: 1;
}

#navbar #categories div a {
  text-decoration: none;
  color: #1a4078;
}

#navbar #categories div a p {
  margin-top: 0em;
  font-size: 0.5em;
  text-decoration: none;
  color: #15386dc0;

  text-align: center;
}

#navbar #categories div a img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 600px) {

  #navbar #categorybox {
    width: 90%;
    margin-left: 3%;
  }

  #navbar #categorybox #categorytitle {
    font-size: 2em;
  }

  #navbar #categorybox #categories div {
    width: 3.5em;
  }
  #navbar #categorybox #categories div a p {
    font-size: 0.5em;
  }
}

/*#############################################################*/

#navbar #bottom {
  display: flex;
  margin-top: 3vw;
}

#navbar #bottom #left {
  width: 75%;
  padding-left: 5vw;
  padding-top: 5vw;
}

#navbar #bottom #left h1 {
  color: white;
  font-size: 8vw;
  height: 0vw;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#navbar #bottom #left h2 {
  color: white;
  font-size: 12vw;
  font-family: "kanit";
  margin-top: 5vw;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 5vw;
  color: transparent; /* Makes the text fill transparent */
  -webkit-text-stroke-width: 0.2vw; /* Defines the stroke width */
  -webkit-text-stroke-color: rgb(255, 255, 255); /* Defines the stroke color */
}

#navbar #bottom #left #border1 {
  border-bottom: 3px solid rgba(255, 255, 255, 0.402);
  width: 50%;
  margin-top: 10vw;
  margin-bottom: 2vw;
  margin-left: 10%;
}
#navbar #bottom #left h6 {
  color: white;
  font-size: 1em;
  width: 70%;
  text-align: center;
  font-family: "khula";
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.1vw;
}

#navbar #bottom #left a {
  text-decoration: none;
}

#navbar #bottom #left a p {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  width: 20%;
  text-align: center;
  padding: 0.5vw;
  margin-left: 30%;
  margin-top: 2vw;
  font-size: 1em;
}
#navbar #bottom #left a p:hover {
    animation: colorchange 200ms linear;
}

@keyframes colorchange {
    from{
        background-color: transparent;
        color: white;
    }to{
        background-color: white;
        color: black;

    }
}

#navbar #bottom #right {
  width: 50%;
  padding-top: 5%;
}
#navbar #bottom #right img {
  width: 100%;
  margin-left: auto;
  display: block;
  margin-top: 10%;
}

#navbar #bottom #right {
  position: relative; /* parent needs to be relative */
}

#navbar #bottom #right {
  position: relative; /* parent needs to be relative */
}
#navbar #bottom #right {
  position: relative;
}

#navbar #bottom #right {
  position: relative; /* to position images on top of each other */
}





@media only screen and (max-width: 900px) {
  #navbar #bottom {
    display: flex;
    flex-direction: column;
  }

  #navbar #bottom #left {
    width: 90%;
    padding: 0px;
    padding-top: 5vw;
    margin: auto;
  }

  #navbar #bottom #left h1 {
    text-align: center;
    height: 0vw;
    margin: 0px;
  }
  #navbar #bottom #left h2 {
    margin: 0px;
    margin-top: 1vw;
    height: 0vw;
    text-align: center;
    font-size: 20vw;
    color: transparent; /* Makes the text fill transparent */
    -webkit-text-stroke-width: 0.2vw; /* Defines the stroke width */
    -webkit-text-stroke-color: rgb(
      255,
      255,
      255
    ); /* Defines the stroke color */
  }

  #navbar #bottom #left #border1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.733);
    width: 32%;
    margin: auto;
    margin-top: 25vw;
  }
  #navbar #bottom #left h6 {
    color: white;
    font-size: 2vw;
    width: 75%;
    text-align: center;
    font-family: "khula";
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.1vw;
    margin-top: 3vw;
    margin-left: 10%;
  }

  #navbar #bottom #left a {
    text-decoration: none;
    text-align: center;
    margin: 0px;
  }

  #navbar #bottom #left a p {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    text-align: center;
    font-size: 3vw;
    width: 25%;
    margin: auto;
    margin-top: 2vw;
  }

  #navbar #bottom #right {
    width: 100%;
    padding-top: 0%;
    margin: auto;
    height: 25%;
  }
  #navbar #bottom #right img {
    width: 100%;
    margin-left: auto;
    display: block;
    margin-top: 0px;
  }
}
