* {
  -webkit-tap-highlight-color: transparent;
}

#navbar {
  margin: 0px;
  border-radius: 0px;
  padding: 2vw;
background: #59e19b;
background: linear-gradient(90deg, rgba(89, 225, 155, 1) 0%, rgba(15, 150, 217, 1) 49%, rgba(79, 232, 158, 1) 100%);
  background-blend-mode: multiply;
  box-shadow: 0px 0.5vw 2vw 0.1vw rgba(0, 0, 0, 0.327);
  height: 100%;
}

#navbar #bottom {
  display: none;
}

#navbarvideo {
  position: absolute;
  width: 100%;
  display: none;
}
#navbarvideo video{
  position: absolute;
  width: 50%;
}
#navbarvideov {
  position: absolute;
  width: 100%;
  display: none;
}
#navbarvideov video{
  position: absolute;
  width: 50%;
}


#navbarvideo {
  display: none;
}


#navbar #top {
  margin-top: 0.5em;
}
