#navbar {
    margin: 0px;
    border-radius: 0px;
    padding: 2vw;
background: #1a4078;
background: linear-gradient(151deg, rgba(26, 64, 120, 1) 16%, rgba(58, 149, 224, 1) 51%, rgba(21, 46, 77, 1) 84%);
    background-blend-mode: multiply;
    box-shadow: 0px 0.5vw 2vw 0.1vw rgba(0, 0, 0, 0.327);
}

#navbar #bottom {
    display: none;
}

#outerbox {
    width: 90%;
    margin: auto;
}

#outerbox #topbox {
    display: flex;
    box-shadow: 0px 0px 60px 5px rgb(238, 238, 238);
    padding: 2vw;
    margin-top: 5vw;
}

#outerbox #topbox .movebutton{
    background-color: rgba(0,0,0,0);
    border: 0px;
    width: 2vw;
    opacity: 0.5;
}

#outerbox #topbox .movebutton:hover{
    cursor: pointer;
    opacity: 1;
}

#outerbox #topbox .movebutton img {
    width: 100%;
}


#outerbox #topbox #topleft {
    display: flex;
    width: 60%;

}

#outerbox #topbox #topleft img{
    width: 100%;

}


#outerbox #topbox #topright {
    width: 40%;
    box-shadow: -1vw 0vw 3vw 0.1vw rgb(238, 238, 238);
    padding: 1.5vw;
    padding-bottom: 10vw;
    margin-left: 1vw;
}


#outerbox #topbox #topright h1 {
    font-size: 2vw;
    width: 90%;
    margin: auto;
}

#outerbox #topbox #topright h3{
    font-size: 0.8vw;
    padding: 0px;
    margin: 0px;
    width: 90%;
    margin: auto;
    font-weight: 500;
    letter-spacing: 0.1vw;
}

#outerbox #topbox #topright #price{
    margin-top: 2vw;
    text-indent: 1.7vw;
    font-size: 1vw;
    color: #b10e0e;
    font-weight: 1000;
}
#outerbox #topbox #topright p{
    margin-top: 2vw;
    text-indent: 1.7vw;
    font-size: 1vw;
}

#outerbox #topbox #topright form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#outerbox #topbox #topright form p{
    text-indent: 0px;
}



#outerbox #topbox #topright form input{
    font-size: 1vw;
    width: 15%;
    text-align: center;
    border:0px;
    outline: none;
    border-bottom: 1px solid rgb(197, 197, 197);    
}


#outerbox #topbox #topright button{
    width: 25%;
    padding: 0.5vw;
    margin-top: 2vw;
    border-radius: 0.5vw;
    border: 1px solid black;
    background-color: black;
    color: white;

}

#outerbox #topbox #topright button:hover{
    background-color: white;
    border: 1px solid black;
    color:black;
    cursor: pointer;
}

#outerbox #topbox #topright button p{
    margin: 0px;
    font-weight: 1000;
}



/* Middle Box */



#outerbox #midbox {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 0vw;
    margin-top: 2vw;
    box-shadow: 0px 0px 60px 5px rgb(238, 238, 238);
}

#outerbox #midbox #left{
    width: 60%;

    padding: 4vw;
}


#outerbox #midbox #left h1{
    font-size: 2.5vw;
    text-align: left;
}

#outerbox #midbox #left table {
    margin-top: 2vw;
    border-collapse: collapse;
}

#outerbox #midbox #left table tr{
    border-bottom: 1px solid rgb(221, 221, 221);
}

#outerbox #midbox #left table th{
    font-family: 'kanit' , serif;
    margin: 0px;
    padding: 0px;
    font-size: 1.2vw;
    font-weight: 400;
    border-bottom: 1px solid rgb(202, 202, 202);
    text-align: left;
}

#outerbox #midbox #left table td{
    border-bottom: 1px solid rgb(202, 202, 202);
    font-family: 'khula' , serif;
    margin: 0px;
    padding: 0px;
    font-size: 1vw;
    font-weight: 400;
    padding-left: 1vw;
    padding-top: 0.3vw;
}


#outerbox #midbox #right{
    width: 40%;
    padding-top: 3.5vw;
}


#outerbox #midbox #right h1{
    font-size: 2.5vw;
    text-align: center;
}








#trendingtitle{
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 2em;
    font-size: 3vw;
}


#explorebox {
    width: 75%;
    margin: auto;
    display: flex;
    gap: 1%;
    margin-bottom: 10vw;
    margin-top: 2vw;
}

#product {
    width: 30%;

    padding-bottom: 1vw;
    background-color: white;
    margin-bottom: 0px;
    margin:auto;
    box-shadow: 0px 0px 5em 1px rgba(0, 0, 0, 0.062);
    transition-duration: 1000ms;
    transition-property: box-shadow;
}

#product:hover {
    box-shadow: 0px 0px 1vw 0.1vw rgba(0, 0, 0, 0.13);
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}


#product #top{
    width: 50%;
    background-color: black;
    color: white;
    padding: 0.5vw;
    margin-bottom: 1vw;
    text-align: center;
}

#product #price{
    text-indent: 0.5vw;
    font-size: 1vw;
}
/* #product #top #rating {
    display: flex;
    width: 80%;
}

#product #top #rating img {
    width: 10%;
    padding: 0.1vw;
}

#product #top #bookmark {
    width: 10%;
    background-color:rgba(0, 0, 255, 0);
    border: 0px;
    margin-left: auto;
}

#product #top #bookmark:hover{
    cursor: pointer;
}

#product #top #bookmark img {
    width: 100%;
    margin-left: auto;
    display: block;
} */

#product #img {
    border: 0px;
}

#product #img img {
    width: 100%;
    height: 15vw;
    display: block;
    object-fit: contain;
    border: 0px;
    /* background-color: red; */
}

#product #description {
    height: 12vw;
}

#product #description h5{
    font-size: 2vw;
    letter-spacing: 0.1vw;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-bottom: 0em;
    line-height: 100%;
    margin-top: 1vw;
}
#product #description h6{
    font-size: 0.7vw;
    text-align: center;
    color: rgb(37, 37, 37);
    width: 50%;
    margin: auto;
}
#product #description #border{
    width: 10%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.483);
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


#product #description h4{
    font-family: "kanit";
    font-size: 0.7vw;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.7vw;
    margin-bottom: 0px;
}

#product a {
    text-decoration: none;
    color: black;
    font-size: 0.7vw;
}

#product #button {
    width: 50%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.479);
    text-align: center;
    padding: 0.5vw;
    margin-top: 1.5vw;
    border-radius: 1em;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    transition-duration: 150ms;
    transition-property: background-color,color;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
}

#product #button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 21, 21);
    cursor: pointer;
}

#product #button p {
    font-size: 0.7vw;
    font-weight: 1000;
}

#loginlink {
    text-decoration: none;
}


#loginlink p {
    background-color: black;
    width: 25%;
    text-align: center;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
    text-decoration: none;
    font-size: 0.5vw;
    font-weight: 1000;
    border: 1px solid black;
}

#loginlink p:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}