* {
  -webkit-tap-highlight-color: transparent;
}

#navbar {
  margin: 0px;
  border-radius: 0px;
  padding: 2vw;
background: #59e19b;
background: linear-gradient(90deg, rgba(89, 225, 155, 1) 0%, rgba(15, 150, 217, 1) 49%, rgba(79, 232, 158, 1) 100%);
  background-blend-mode: multiply;
  box-shadow: 0px 0.5vw 2vw 0.1vw rgba(0, 0, 0, 0.327);
  height: 100%;
}


#navbarvideo {
  display: none;
}


#navbar #top {
  margin-top: 0.5em;
}


#navbar #bottom {
  display: none;
}

#outerbox {
  width: 90%;
  margin: auto;
}

#outerbox #topbox {
  display: flex;
  box-shadow: 0px 0px 60px 5px rgb(238, 238, 238);
  padding: 2vw;
  margin-top: 5vw;
}

#outerbox #topbox .movebutton {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  width: 3vw;
  opacity: 0.5;
}

#outerbox #topbox .movebutton:hover {
  cursor: pointer;
  opacity: 1;
}

#outerbox #topbox .movebutton img {
  width: 100%;
}

#outerbox #topbox #topleft {
  display: flex;
  width: 60%;
}

#outerbox #topbox #topleft img {
  width: 100%;
}

#outerbox #topbox #topright {
  width: 40%;
  box-shadow: -1vw 0vw 3vw 0.1vw rgb(238, 238, 238);
  padding: 1.5vw;
  padding-bottom: 10vw;
  margin-left: 1vw;
}

#outerbox #topbox #topright h1 {
  font-size: 2vw;
  width: 90%;
  margin: auto;
}

#outerbox #topbox #topright h3 {
  font-size: 0.8vw;
  padding: 0px;
  margin: 0px;
  width: 90%;
  margin: auto;
  font-weight: 500;
  letter-spacing: 0.1vw;
}

#outerbox #topbox #topright #price {
  margin-top: 2vw;
  text-indent: 1.7vw;
  font-size: 1vw;
  color: #e00909;
  font-weight: 1000;
}
#outerbox #topbox #topright p {
  margin-top: 2vw;
  text-indent: 1.7vw;
  font-size: 1vw;
}

#outerbox #topbox #topright form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

#outerbox #topbox #topright form p {
  text-indent: 0px;
}

#outerbox #topbox #topright form input {
  font-size: 1vw;
  width: 15%;
  text-align: center;
  border: 0px;
  outline: none;
  border-bottom: 1px solid rgb(197, 197, 197);
}

#outerbox #topbox #topright button {
  width: 25%;
  padding: 0.5vw;
  margin-top: 2vw;
  border-radius: 0.5vw;
  border: 1px solid rgb(238, 5, 5);
  background-color: rgb(243, 5, 5);
  color: white;
  transition-duration: 500ms;
  transition-property: color , background-color;
}

#outerbox #topbox #topright button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

#outerbox #topbox #topright button p {
  margin: 0px;
  font-weight: 1000;
}

@media only screen and (max-width: 900px) {
  #outerbox #topbox {
    flex-direction: column;
    padding: 0px;
  }

  #outerbox #topbox #topleft {
    width: 75%;
    margin: auto;
  }

  #outerbox #topbox #topleft #topleftimages {
    width: 100%;
  }
  #outerbox #topbox #topleft button {
    width: 2em;
  }

  #outerbox #topbox #topright {
    width: 100%;
    margin: auto;
    text-align: left;
  }

  #outerbox #topbox #topright h1 {
    font-size: 1.5em;
    line-height: 100%;
  }
  #outerbox #topbox #topright h3 {
    font-size: 0.7em;
  }
  #outerbox #topbox #topright #price {
    font-size: 1em;
    text-align: left;
    text-indent: 2vw;

    margin-left: 2.5%;
  }
  #outerbox #topbox #topright p {
    margin-top: 2vw;
    text-indent: 1.7vw;
    font-size: 1vw;
  }

  #outerbox #topbox #topright form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 2.5vw;
  }

  #outerbox #topbox #topright form p {
    text-indent: 0px;
    font-size: 1em;
  }

  #outerbox #topbox #topright form input {
    font-size: 1em;
    width: 15%;
    text-align: center;
    border: 0px;
    outline: none;
    border-bottom: 1px solid rgb(197, 197, 197);
  }

  #outerbox #topbox #topright button {
    width: 25%;
    padding: 0.5vw;
    margin-top: 2vw;
    border-radius: 0.5vw;
    border: 1px solid rgb(236, 7, 7);
    background-color: rgb(238, 5, 5);
    color: white;
  }

  #outerbox #topbox #topright button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
  }

  #outerbox #topbox #topright button p {
    margin: 0px;
    font-weight: 1000;
    font-size: 1em;
  }
  #outerbox #topbox #topright form a {
    margin: 0px;
    font-weight: 1000;
    font-size: 0.7em;
    margin-top: 5vw;
  }
  #outerbox #topbox #topright form a p {
    background-color: rgb(230, 3, 3);
    margin: 0px;
    font-weight: 1000;
    font-size: 1.3em;
    border: transparent;
  }
}

/* Middle Box */

#outerbox #midbox {
  display: flex;
  box-shadow: 0px 0px 60px 5px rgb(238, 238, 238);
  margin-top: 2vw;
  padding: 2vw;
}

#outerbox #midbox #specification {
  width: 60%;
  padding: 1vw;
}

#outerbox #midbox #specification h1 {
  font-size: 2.5vw;
  text-align: left;
}

#outerbox #midbox #specification table {
  margin-top: 2vw;
  border-collapse: collapse;
}

#outerbox #midbox #specification table tr {
  border-bottom: 1px solid rgb(221, 221, 221);
}

#outerbox #midbox #specification table th {
  font-family: "kanit", serif;
  margin: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 400;
  border-bottom: 1px solid rgb(202, 202, 202);
  text-align: left;
}

#outerbox #midbox #specification table td {
  border-bottom: 1px solid rgb(202, 202, 202);
  font-family: "khula", serif;
  margin: 0px;
  padding: 0px;
  font-size: 1vw;
  font-weight: 400;
  padding-left: 1vw;
  padding-top: 0.3vw;
}

#outerbox #midbox #specification ul li {
  font-family: "kanit", serif;
  margin: 0px;
  padding: 0px;
  font-size: 1.2vw;
  font-weight: 400;
  border-bottom: 1px solid rgb(202, 202, 202);
  text-align: left;
  color: rgba(34, 34, 34, 0.733);
}

#outerbox #midbox #review {
  width: 20%;
}

#outerbox #midbox #review h1 {
  font-size: 2.5vw;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  #outerbox #midbox {
    display: flex;
    box-shadow: 0px 0px 60px 5px rgb(238, 238, 238);
    margin-top: 2vw;
    padding: 0px;
    flex-direction: column;
  }

  #outerbox #midbox #specification {
    width: 80%;
    padding: 1em;
    margin: auto;
  }

  #outerbox #midbox #specification h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
  }

  #outerbox #midbox #specification table {
    margin-top: 2vw;
    border-collapse: collapse;
  }

  #outerbox #midbox #specification table tr {
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  #outerbox #midbox #specification table th {
    font-family: "kanit", serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: 400;
    border-bottom: 1px solid rgb(202, 202, 202);
    text-align: left;
  }

  #outerbox #midbox #specification table td {
    border-bottom: 1px solid rgb(202, 202, 202);
    font-family: "khula", serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: 400;
    padding-left: 1vw;
    padding-top: 0.3vw;
  }

  #outerbox #midbox #specification ul li {
    font-family: "kanit", serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: 400;
    border-bottom: 1px solid rgb(202, 202, 202);
    text-align: left;
    color: rgba(34, 34, 34, 0.733);
  }
}

#trendingtitle {
  text-align: center;
  font-weight: 1000;
  letter-spacing: 0.1em;
  margin-top: 2em;
  font-size: 3em;
}

#explorebox {
  width: 80%;
  margin: auto;
  display: grid;
  margin-bottom: 10vw;
  margin-top: 2vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  overflow-x: scroll;
  padding: 2em;
  scrollbar-width: thin;
}
#product {
  width: 20em;
  margin: auto;
  background-color: white;
  margin-bottom: 2vw;
  margin-top: 2vw;
  box-shadow: 0px 1em 2em 0.1em rgba(121, 121, 121, 0.192);
  transition-duration: 1000ms;
  transition-property: box-shadow;
  padding-bottom: 2em;
}

#product:hover {
  box-shadow: 0px 1em 2em 0.1em rgba(0, 0, 0, 0.329);
  cursor: pointer;
}

#product #top {
  width: 50%;
  background-color: black;
  color: white;
  padding: 0.5vw;
  margin-bottom: 1vw;
  text-align: center;
}

#product #price {
  text-indent: 1em;
  font-size: 1em;
}

#product #img {
  border: 0px;
}

#product #img img {
  width: 100%;
  height: 10em;
  display: block;
  object-fit: contain;
  border: 0px;
  /* background-color: red; */
}

#product #description #maindescription {
  height: 5em;
  overflow: hidden;
}

#product #description {
  height: 12em;
} 

#product #description h5 {
  font-size: 1.5em;
  letter-spacing: 0.1vw;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 0em;
  line-height: 100%;
  margin-top: 1vw;
  overflow: hidden;
  height: 3em;
}

#product #description h6 {
  font-size: 0.7em;
  text-align: center;
  color: rgb(37, 37, 37);
  width: 50%;
  margin: auto;
}

#product #description #border {
  width: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  margin: auto;
  margin-top: 0vw;
  margin-bottom: 1vw;
}

#product #description h4 {
  font-family: "kanit";
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 0px;
}

#product a {
  text-decoration: none;
  color: black;
  font-size: 0.7em;
  padding: 1em;
}

#product #button {
  width: 50%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.479);
  text-align: center;
  padding: 0.5vw;
  margin-top: 1.5vw;
  border-radius: 1em;
  background-color: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
  transition-duration: 150ms;
  transition-property: background-color, color;
  letter-spacing: 0.3vw;
  text-transform: uppercase;
  padding: 0.5em;
  transition-duration: 500ms;
  transition-property: background-color , color;
}

#product #button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(21, 21, 21);
  cursor: pointer;
}

#product #button p {
  font-size: 1em;
  font-weight: 1000;
}
#loginlink {
  text-decoration: none;
}

#loginlink p {
  background-color: rgb(224, 5, 5);
  width: 25%;
  text-align: center;
  color: white;
  padding: 0.5vw;
  border-radius: 0.5vw;
  text-decoration: none;
  font-size: 0.5vw;
  font-weight: 1000;
  border: 1px solid red;
}

#loginlink p:hover {
  background-color: white;
  color: rgb(216, 10, 10);
  border: 1px solid red;
}


@media only screen and (min-width: 1600px) {

  #product {
    width: 30em;
  }
  #product #top {
    width: 90%;
    background-color: black;
    color: white;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
  }

  #product #price {
    font-size: 1.2em;
  }

  #product #img img {
    height: 10em;
  }

  #product #description #maindescription {
    height: 2em;
    overflow: hidden;
  }

  #product #description h5 {
    font-size: 2em;
    letter-spacing: 0.1vw;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 0em;
    line-height: 100%;
    margin-top: 1vw;
    overflow: hidden;
    height: 2.5em;
  }

  #product #description h6 {
    font-size: 1.1em;
    text-align: center;
    color: rgb(37, 37, 37);
    width: 75%;
    margin: auto;
    overflow: hidden;
  }

  #product #description #border {
    width: 50%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.192);
    margin: auto;
    margin-top: 0vw;

    margin-bottom: 1em;
  }

  #product #description h4 {
    font-family: "kanit";
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1em;
    margin-bottom: 0px;
  }

  #product #productlink {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 1em;
  }

  #product #button {
    width: 50%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.479);
    text-align: center;
    padding: 0.5vw;
    margin-top: 5vw;
    border-radius: 1em;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    transition-duration: 150ms;
    transition-property: background-color, color;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    padding: 0.5em;

  }

  #product #button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 21, 21);
    cursor: pointer;
  }

  #product #button p {
    font-size: 2em;
    font-weight: 1000;
  }
}





@media only screen and (max-width: 600px) {
#trendingtitle {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 2em;
  font-size: 2em;
}
  #product {
    margin: 0.2em;
    padding: 0.2em;
    margin-bottom: 5em;
    width: 18em;
  }

  #product #top {
    width: 95%;
    background-color: black;
    color: white;
    padding: 0.5vw;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
  }

  #product #price {
    font-size: 1em;
  }

  #product #img img {
    height: 10em;
  }

  #product #description #maindescription {
    height: 3em;
    overflow: hidden;
  }

  #product #description h5 {
    font-size: 1.5em;
    letter-spacing: 0.1vw;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 0em;
    line-height: 100%;
    margin-top: 1vw;
    overflow: hidden;
    height: 2.5em;
  }

  #product #description h6 {
    font-size: 1em;
    text-align: center;
    color: rgb(37, 37, 37);
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  #product #description #border {
    width: 50%;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.192);
    margin: auto;
    margin-top: 0vw;

    margin-bottom: 1em;
  }

  #product #description h4 {
    font-family: "kanit";
    font-size: 0.5em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1em;
    margin-bottom: 0px;
  }

  #product a {
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    padding: 1em;
  }

  #product #button {
    width: 50%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.479);
    text-align: center;
    padding: 0.5vw;
    margin-top: 1.5vw;
    border-radius: 1em;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    transition-duration: 150ms;
    transition-property: background-color, color;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    padding: 0.5em;
  }

  #product #button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 21, 21);
    cursor: pointer;
  }

  #product #button p {
    font-size: 1em;
    font-weight: 1000;
  }
}
