* {
  -webkit-tap-highlight-color: transparent;
}

#navbar {
  margin: 0px;
  border-radius: 0px;
  padding: 2vw;
  background: RGBA(89, 225, 200, 10.01);
  background: linear-gradient(
    90deg,
    rgba(89, 225, 200, 1) 0%,
    rgba(15, 150, 217, 1) 50%,
    rgba(89, 225, 200, 1) 100%
  );
  background-blend-mode: multiply;
  box-shadow: 0px 0.5vw 2vw 0.1vw rgba(0, 0, 0, 0.327);
  height: 100%;
}

#navbar #bottom {
  display: none;
}
#outerprofile {
  border-radius: 1vw;
  width: 80%;
  margin: auto;
  margin-top: 7vw;
  margin-bottom: 7vw;
  box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.11);
  padding-bottom: 5vw;

  padding-top: 2vw;

  /* background: #9C52B4;
background: linear-gradient(263deg,rgba(156, 82, 180, 1) 25%, rgba(219, 0, 44, 1) 83%); */
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(10vw);
  -webkit-backdrop-filter: blur(10vw);
}

#outerprofile h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0px;
  margin-top: 2vw;
  color: rgba(233, 4, 4, 0.74);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
}

#outerprofile #innerprofile {
  padding: 2vw;
  display: flex;
  margin-bottom: 2vw;
  border-bottom: 1px solid rgb(206, 206, 206);
  width: 80%;
  margin: auto;
}

#outerprofile #innerprofile #left {
  width: 50%;
  margin-left: auto;
}
#outerprofile #innerprofile #right {
  width: 50%;
  margin-right: auto;
  text-align: right;
}

#outerprofile #innerprofile h1 {
  font-size: 1.5em;
  text-align: left;
  margin-top: 0px;
  color: black;
  letter-spacing: 0px;
}
#outerprofile #innerprofile h3 {
  font-size: 1em;
  height: 1em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.658);
}
#outerprofile #innerprofile h6 {
  font-weight: 600;
  font-size: 1em;
  height: 1em;
  margin-top: 0px;
  color: rgba(0, 0, 0, 0.658);
}
#outerprofile #innerprofile p {
  font-size: 1.5em;
  height: 1em;
}

#outerprofile #innerprofile button {
  margin-top: 0.5vw;
  background-color: rgba(7, 7, 7, 0);
  border: 0px;
  padding: 0.5vw;
  color: rgb(10, 10, 10);
  font-size: 1em;
  border-radius: 0.5vw;
  font-weight: 1000;
  border: 1px solid rgba(20, 20, 20, 0.61);
  transition-duration: 500ms;
  transition-property: color, border;
}

#outerprofile #innerprofile button:hover {
  border: 1px solid black;
  background-color: rgba(20, 20, 20, 0.863);
  color: rgb(240, 235, 235);
  cursor: pointer;
}


#outerorder{
  width: 90%;
  margin: auto;
}

#outerorder a {
  text-decoration: none;
}

#outerorder #innerorder {
  margin: auto;
  margin-bottom: 2vw;
  padding: 2vw;
  display: flex;
  box-shadow: 0px 0.7em 1em 0.2em rgba(158, 158, 158, 0.404);
  width: 80%;
}


#outerorder #innerorder #left {
  width: 75%;
  text-indent: 0.5em;
}

#outerorder #innerorder #left h3 {
  text-indent: 0em;
  font-size: 1.3em;
  height: 1.2em;
  margin: 0px;
  margin-bottom: 0.5em;
  color: black;
  line-height: 100%;
}

#outerorder #innerorder #left h4 {
  color: rgb(43, 43, 43);
  font-size: 0.7em;
  height: 1em;
  margin: 0px;
  font-weight: 100;
}

#outerorder #innerorder #left h5 {
  color: rgb(53, 53, 53);
  font-size: 1em;
  height: 1em;
  margin: 0px;
  font-weight: 200;
}

#outerorder #innerorder #left p {
  color: red;
  font-size: 0.8em;
  height: 1em;
  margin: 0px;
  text-indent: 0px;
  
  margin-top: 0.7em;
  font-weight: 1000;
}

#outerorder #innerorder #right p {
  color: red;
  font-size: 1.2em;
  height: 1em;
  margin: 0px;
  text-indent: 0px;
  
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  font-weight: 1000;
  text-align: center;
}






#outerorder #innerorder #right {
  width: 25%;
}

  #outerorder #innerorder  #right p{
    font-size: 0.8em; 
    margin-bottom: 0.5em;
  }


#outerorder #innerorder #right button {
  background-color: transparent;
  border: 1px solid red;

  color: rgb(250, 0, 0);
  margin: auto;
  width: 50%;
  font-size: 0.8em;
  padding: 0.2em;
  display: block;

  transition-duration: 500ms;
  transition-property: color, border;
  
}
#outerorder #innerorder #right button:hover {
  background-color: red;
  border: 1px solid red;
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}





@media only screen and ( max-width:800px){

  #outerprofile {
  border-radius: 1vw;
  width: 95%;
  margin: auto;
  margin-top: 7vw;
  margin-bottom: 7vw;
  box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.11);
  padding-bottom: 5vw;

  padding-top: 2vw;

  /* background: #9C52B4;
background: linear-gradient(263deg,rgba(156, 82, 180, 1) 25%, rgba(219, 0, 44, 1) 83%); */
  background-color: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(10vw);
  -webkit-backdrop-filter: blur(10vw);
}

#outerprofile h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 1.5em;
  font-weight: 700;
}

#outerprofile #innerprofile {
  padding: 2vw;
  display: flex;
  margin-bottom: 2vw;
  border-bottom: 1px solid rgb(206, 206, 206);
  width: 90%;
  margin: auto;
}

#outerprofile #innerprofile #left {
  width: 75%;
  margin-left: auto;
}
#outerprofile #innerprofile #right {
  width: 25%;
  margin-right: auto;
  text-align: right;
  padding-top: 1vw;
}

#outerprofile #innerprofile h1 {
  font-size: 1.5em;
  height: 1.2em;
  text-align: left;
  margin-top: 0px;
}
#outerprofile #innerprofile h3 {
  font-size: 1em;
  height: 1em;
  color: rgba(0, 0, 0, 0.644);
}
#outerprofile #innerprofile h6 {
  font-size: 1em;
    color: rgba(0, 0, 0, 0.644);
    height: 1em;
}
#outerprofile #innerprofile p {
  margin-top: 1vw;
  font-size: 1em;
}

#outerprofile #innerprofile button {
  margin-top: 0.5vw;
  background-color: rgba(14, 13, 13, 0.884);
  border: 0px;
  padding: 0.5vw;
  color: rgb(247, 245, 245);
  font-size: 1em;
  border-radius: 0.5vw;
  font-weight: 1000;
  border: 1px solid rgba(129, 1, 1, 0.61);
  width: 100%;
  transition-duration: 500ms;
  transition-property: color, border;
}

#outerprofile #innerprofile button:hover {
  border: 1px solid black;
  background-color: rgba(20, 20, 20, 0.863);
  color: rgb(240, 235, 235);
  cursor: pointer;
}

  #outerorder{
    width: 95%;
    margin-top: 0em;
  }

  #outerorder #innerorder {
    padding: 1em;
    width: 95%;
  }
  #outerorder #innerorder #left h3 {
    font-size: 0.8em;
    height: 1.5em;
    width: 75%;
  }
  #outerorder #innerorder #left h4{
    font-size: 0.6em; 
    width: 95%;
  }
  #outerorder #innerorder  #left p{
    
    font-size: 0.6em; 
  }
  #outerorder #innerorder  #right p{
    font-size: 0.6em; 
    margin-bottom: 0.5em;
  }
  #outerorder #innerorder  #right button{
    font-size: 0.6em; 
  }

}



