body{
background: #9C52B4;
background: linear-gradient(209deg,rgba(156, 82, 180, 1) 25%, rgba(219, 0, 44, 1) 83%);

}
#navbar {
    padding-bottom: 0px;
background: #1a4078;
background: linear-gradient(151deg, rgba(26, 64, 120, 1) 16%, rgba(58, 149, 224, 1) 51%, rgba(21, 46, 77, 1) 84%);
    background-blend-mode: multiply;
    margin: 0px;
    border-radius: 0px;
}

#navbar #bottom {
    display: none;
}
#outerprofile{

    width: 80%;
    margin: auto;
    margin-top: 7vw;
    margin-bottom: 7vw;
    box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.11);
    padding-bottom: 5vw;
    
    padding-top: 2vw;

/* background: #9C52B4;
background: linear-gradient(263deg,rgba(156, 82, 180, 1) 25%, rgba(219, 0, 44, 1) 83%); */
    background-color: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(10vw);
    -webkit-backdrop-filter: blur(10vw);
}

#outerprofile h1{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0px;
    margin-top: 2vw;
}

#outerprofile #innerprofile {
    padding: 2vw;
    display: flex;
    margin-bottom: 2vw;
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 80%;
    margin: auto;
}

#outerprofile #innerprofile #left {
    width: 50%;
    margin-left: auto;
}
#outerprofile #innerprofile #right {
    width: 50%;
    margin-right: auto;
    text-align: right;
    padding-top: 1vw;
}


#outerprofile #innerprofile h1{
    font-size: 2vw;
    height: 2.5vw;
    text-align: left;
    margin-top: 0px;
}   
#outerprofile #innerprofile h3{
    font-size: 1.5vw;
    height: 2vw;
    
}
#outerprofile #innerprofile h6{
    font-size: 1vw;
    
}
#outerprofile #innerprofile p{
    margin-top: 1vw;
    font-size: 1vw;

}

#outerprofile #innerprofile button{
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    padding: 0.5vw;
    color: rgba(255, 255, 255, 0.516);
    font-size: 1vw;
    border-radius: 0.5vw;
    font-weight: 1000;
    border: 1px solid rgba(255, 255, 255, 0.401);
    width: 25%;
    transition-duration: 500ms;
    transition-property: color , border;
}

#outerprofile #innerprofile button:hover{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: pointer;
}




#orders{

    width: 90%;
    box-shadow: 0px 0px 2em 5px rgb(207, 207, 207);
    padding: 2vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 3vw;
    text-align: center;
}


#orders {
    margin: auto;
    font-family: "khula";
    border-collapse: collapse;
    box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.062);
    border-radius: 1vw;
}

#orders th{
    border-bottom: 1px solid black;
    font-size:1.3vw;
    padding: 0.5em;
    font-weight: 700;
    text-align: center;
    background-color: black;
    color: white;
    text-indent: 0.5vw ;
}

#orders td{
    border-bottom: 2px solid rgba(190, 190, 190, 0.253);
    padding: 0.2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
    text-align: center;
}

#orders a {
    text-decoration: none;
    color: black;
    
}

#orders a p{
    font-size: 1vw;

}

#orders button {
    width: 100%;
    padding: 0.5vw;
    font-size: 0.7vw;
    background-color: rgb(215, 3, 3);
    border: 0px;
    color: white;
    
}

#orders button:hover{
    cursor: pointer;
}