<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styling/navbar.css" />
  <link rel="stylesheet" href="/styling/footer.css" />
  <link rel="stylesheet" href="/styling/checkout.css" />
  <title>AMB INFOSYS</title>
  <link rel="icon" href="/images/logo/top.png" />
</head>

<body>
  <div id="navbar"></div>

  <div id="checkout">
    <form action="/checkout" method="post">
      <h1>Checkout</h1>
      <h6 id="productname">Product Name</h6>

      <div id="extravalues"></div>

      <input type="text" name="fullname" id="fullname" placeholder="Full Name" required maxlength="128"/>
      <input type="text" name="address" id="address" placeholder="Address" required maxlength="128"/>
      <!-- <input type="number" name="number" id="number" placeholder="Phone Number" required /> -->
      <input type="text" name="number" id="number" required placeholder="Phone Number" maxlength="10" inputmode="numeric" />
      <table>
        <tr id="quantity">
          <th></th>
          <td></td>
        </tr>
        <tr id="cost">
          <th></th>
          <td></td>
        </tr>
        <tr id="delivery">
          <th></th>
          <td></td>
        </tr>
        <tr id="totalcost">
          <th></th>
          <td></td>
        </tr>
      </table>
      <button type="submit">Order</button>
    </form>
  </div>


  <script>
    const weburl = document.URL;
    const arguments = weburl.split("?")[1].split("&");
    const quantity = arguments[0].split("=")[1];
    const splitname = arguments[1].split("=")[1].split("+");
    const category = arguments[2].split("=")[1];
    const id = arguments[3].split("=")[1];
    const customerid = document.cookie.split(";")[0].split("=")[1];

    const phoneNumberInput = document.getElementById('number');
      phoneNumberInput.addEventListener('input', function (event) {
        event.target.value = event.target.value.replace(/[^0-9]/g, '');
      });

    fetch("/api/productdata")
      .then((response) => response.json())
      .then((products) => {
        var innerindex = 0;
        for (i in products) {
          if (products[i]["id"] == id) {
            const cost = products[i]["price"] * quantity;
            const npFormatted = new Intl.NumberFormat("en-NP", {
              style: "currency",
              currency: "NPR",
            }).format(cost);

            const tax = (13 / 100) * cost;

            const npFormattedtax = new Intl.NumberFormat("en-NP", {
              style: "currency",
              currency: "NPR",
            }).format(tax);

            const npFormattedincludingtax = new Intl.NumberFormat("en-NP", {
              style: "currency",
              currency: "NPR",
            }).format(tax + cost);

            const delivery = 150;

            const totalcost = delivery + cost;

            const npFormattedtotalcost = new Intl.NumberFormat("en-NP", {
              style: "currency",
              currency: "NPR",
            }).format(totalcost);

            document.getElementById("productname").innerHTML = `${products[i]["pname"]}`;
            document.getElementById("quantity").innerHTML = `
                        <th>Total Quantity</th>
                        <td>${quantity} pcs</td>
                    `;
            document.getElementById("cost").innerHTML = `
                        <th>Cost</th>
                        <td>${npFormatted}</td> 
                    `;

            document.getElementById("delivery").innerHTML = `
                        <th>Delivery Cost</th>
                        <td>NPR 150</td>
                    `;
            document.getElementById("delivery").innerHTML = `
                        <th>Delivery Cost</th>
                        <td>NPR ${delivery}.00</td>
                    `;
            document.getElementById("totalcost").innerHTML = `
                        <th>Total Cost</th>
                        <td>NPR ${totalcost}.00</td>
                    `;
            document.getElementById("quantity");

            document.getElementById("extravalues").innerHTML = `
                        <input name="id" id="id" type="hidden" value=${id}>
                        <input name="pname" id="pname" type="hidden" value=${products[i]["pname"]}>
                        <input name="category" id="category" type="hidden" value=${category}>
                        <input name="quantity" id="quantity" type="hidden" value=${quantity}>
                        <input name="cost" id="cost" type="hidden" value=${totalcost}>
                        <input name="customerid" id="customer" type="hidden" value=${customerid}>
                    `;
          }
        }
      });
  </script>

  <script src="/scripts/navbar.js"></script>
</body>

</html>