<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styling/navbar.css" />
    <link rel="stylesheet" href="/styling/footer.css" />
    <link rel="stylesheet" href="/styling/dashboard.css" />
    <title>AMB INFOSYS</title>
    <link rel="icon" href="/images/logo/top.png" />
  </head>
  <body>
    <div id="navbar"></div>

    <div id="adminerror">
      <h1>Only given access to the Admin !!</h1>
    </div>

    <div id="outerprofile">
      <div id="innerprofile">
        <div id="left">
          <h1></h1>
          <h3></h3>
          <h6></h6>
        </div>
        <div id="right">
          <p></p>
          <button></button>
        </div>
      </div>
    

    </div>



    <div id="upload">
      <h1>Upload</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="name" id="name" placeholder="Product Name" required maxlength="128"/>
        <select name="index" id="index" required>
          <option value="product">Product</option>
          <option value="latest">Latest</option>
          <option value="trending">Trending</option>
          <option value="offers">Offers</option>
        </select>
        <input type="text"name="price" id="price" placeholder="Price" required maxlength="10" inputmode="numeric" />
        <input type="text" name="quantity" id="quantity" placeholder="Quantity" required maxlength="7" inputmode="numeric" />
        <input type="text" name="warranty" id="warranty" placeholder="Warranty" required maxlength="3" inputmode="numeric" />
        <select name="brand" required>
          <option value="Asus">Asus</option>
          <option value="Lenovo">Lenovo</option>
          <option value="Dell">Dell</option>
          <option value="HP">HP</option>
          <option value="Acer">Acer</option>
          <option value="Canon">Canon</option>
          <option value="Brother">Brother</option>
          <option value="Epson">Epson</option>
          <option value="Vertex">Vertex</option>
          <option value="Samsung">Samsung</option>
          <option value="Dahua">Dahua</option>
          <option value="Msi">Msi</option>
          <option value="Fantech">Fantech</option>
          <option value="Digicom">Digicom</option>
          <option value="Ant Esport">Ant Esport</option>
          <option value="TP Link">TP Link</option>
          <option value="Rapoo">Rapoo</option>
          <option value="Prolink">Prolink</option>
        </select>

        <div id="category">
          <div id="options">
            <button type="button" onclick="inputs('laptop')">Laptop</button>
            <button type="button" onclick="inputs('monitor')">Monitor</button>
            <button type="button" onclick="inputs('printer')">Printer</button>
            <button type="button" onclick="inputs('camera')">Camera</button>
            <button type="button" onclick="inputs('switch')">Switch</button>
            <button type="button" onclick="inputs('router')">Router</button>
            <button type="button" onclick="standardinputs('keyboard')">
              Keyboard
            </button>
            <button type="button" onclick="standardinputs('mouse')">
              Mouse
            </button>
            <button type="button" onclick="standardinputs('speaker')">
              Speaker
            </button>
            <button type="button" onclick="standardinputs('ups')">UPS</button>
            <button type="button" onclick="standardinputs('headset')">
              Headset
            </button>
            <button type="button" onclick="standardinputs('storage')">
              Storage
            </button>
            <button type="button" onclick="standardinputs('cables')">
              Cables
            </button>
            <button type="button" onclick="standardinputs('telephone')">
              Telephone
            </button>
            <button type="button" onclick="standardinputs('desktop')">
              Desktop
            </button>
          </div>
          <div id="input"></div>
        </div>

        <input
          type="file"
          title=" "
          name="image"
          id="imageupload"
          multiple
          required
          style="display: none"
        />
        <label for="imageupload">
          <p>Select Images</p>
        </label>
        <button type="submit" id="uploadbutton">Upload</button>
      </form>
    </div>

    <div id="orders">
      <h1>Orders</h1>

      <table id="ordertable">
        <tr id="head">
          <th style="border-top-left-radius: 0.5vw">OrderID</th>
          <th>Customer</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Total</th>
          <th style="border-top-right-radius: 0.5vw">View</th>
        </tr>
      </table>
    </div>
    <div id="users">
      <h1>Users</h1>

      <table id="usertable">
        <tr id="head">
          <th style="border-top-left-radius: 0.5vw">ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Username</th>
          <th>Mail</th>
          <th>Phone</th>
          <th>Spending</th>
          <th style="border-top-right-radius: 0.5vw">Admin</th>
        </tr>
      </table>
    </div>

    <div id="footer"></div>

    <script>
      var usercookie = document.cookie;
      var admin = usercookie.split(";")[2];
      var token = usercookie.split(";")[0].split("=")[1];

      let cookie = document.cookie;
      let id = cookie.split(";")[0].split("=")[1];


      fetch(`/api/usersdata/${id}`, {
        headers: { "token": `Bearer ${id}` }
      })
        .then((response) => response.json())
        .then((users) => {
          for (i in users) {
            console.log(users)
            if (users[0]["token"] == id) {


              let profilebox = document.getElementById("innerprofile");

              let spending = "";
              if (users[0]["spending"] == null) {
                spending = "0.00";
              } else {
                spending = users[0]["spending"];
              }

              var verification;

              if (users[0]["verification"] === "null" || users[0]["verification"] == null || !users[0]["verification"]) {
                var verification = `
            <h6 style="color:red;">Not VERIFIED</h6>
            `

              } else {
                if (users[0]["verification"].toUpperCase() === "verified".toUpperCase()) {
                  var verification = `
              <h6 style="color:green; font-size:1.3em; font-weight:1000;">VERIFIED</h6>
              `
                } else {
                  var verification = `
              <h6 style="color:red;">Not VERIFIED</h6>
              `

                }

              }


              profilebox.innerHTML = `
                  
            <div id="left">
                <h1>${users[0]["firstname"]} ${users[0]["secondname"]}</h1>
                
                <h3>${users[0]["username"]}</h3>
                <h6>${users[0]["usermail"]}</h6>
                </div>
                <div id="right">
                  
                  <h3>Rs.${spending}</h3>
                  ${verification}
                <button onclick="logout()">Logout</button>

            </div>`;
            }
          }
        });





      const PriceInput = document.getElementById('price');
        PriceInput.addEventListener('input', function (event) {
          event.target.value = event.target.value.replace(/[^0-9]/g, '');
      });
      const QuantityInput = document.getElementById('quantity');
        QuantityInput.addEventListener('input', function (event) {
          event.target.value = event.target.value.replace(/[^0-9]/g, '');
      });
      const WarrantyInput = document.getElementById('warranty');
        WarrantyInput.addEventListener('input', function (event) {
          event.target.value = event.target.value.replace(/[^0-9]/g, '');
      });



      if (admin.split("=")[1] === "admin") {
        document.getElementById("adminerror").style.display = "none";
        fetch("/api/orderdata",{
          headers: {"authorization": `Bearer ${token}`}
        })
          .then((response) => response.json())
          .then((orders) => {

            for (i in orders) {
              const npFormatted = new Intl.NumberFormat("en-NP", {
                style: "currency",
                currency: "NPR",
              }).format(orders[i]["cost"]);


              let deliverbutton =
              `
                <button type="submit" id="deliverbutton">
                    <p>Deliver</p>
                </button>
              `

              if (orders[i]["status"] === "On Delivery") {
                deliverbutton = 
                `
                  <button type="submit" id="deliverbutton" disabled>
                      <p>On Delivery</p>
                  </button>
                `
                console.log(orders[i]["status"])
              } else if (orders[i]["status"] === "To Be Delivered") {
                deliverbutton =
                  `
                  <button type="submit" id="deliverbutton">
                      <p>Deliver</p>
                  </button>
                `

              }

              document.getElementById("ordertable").innerHTML += `
                        <tr>
                            <td>${orders[i]["ordernumber"]}</td>
                            <td>${orders[i]["customer"]}</td>
                            <td>${orders[i]["quantity"]}</td>
                            <td>${orders[i]["category"]}</td>
                            <td>${orders[i]["phone"]}</td>
                            <td>${orders[i]["address"]}</td>
                            <td>${npFormatted}</td>
                            <td>
                              <form action="/deliver" method="post">
                                <input type="hidden" value="${orders[i]["ordernumber"]}" name="ordernumber">
                                ${deliverbutton}

                              </form>
                            </td>

                        </tr>
                    `;
      
            }
          });

        fetch("/api/usersdata",{
          headers: { "authorization": `Bearer ${token}`}
        })
          .then((response) => response.json())
          .then((users) => {

            for (i in users) {
              document.getElementById("usertable").innerHTML += `
                        <tr>
                            <td>${users[i]["token"]}</td>
                            <td>${users[i]["firstname"]}</td>
                            <td>${users[i]["secondname"]}</td>
                            <td>${users[i]["username"]}</td>
                            <td>${users[i]["usermail"]}</td>
                            <td>${users[i]["phone"]}</td>
                            <td>${users[i]["spending"]}</td>
                            <td>${users[i]["admin"]}</td>

                        </tr>
                    `;
            }
          });

        function inputs(option) {
          if (option === "laptop") {
            var inputfields = document.getElementById("input");

            inputfields.innerHTML = `

                        <input type="hidden" value="laptop" name="category" required maxlength="255">
                        <input type="text" name="model" placeholder="Model" required maxlength="255">
                        <input type="text" name="series" placeholder="Series" required maxlength="255">
                        <input type="text" name="generation" placeholder="Generation" required maxlength="255">
                        <input type="text" name="type" placeholder="Type" required maxlength="255">
                        <input type="text" name="processor" placeholder="Processor" required maxlength="255">
                        <input type="text" name="graphics" placeholder="Graphics" required maxlength="255">
                        <input type="text" name="ram" placeholder="Ram" required maxlength="255">
                        <input type="text" name="storage" placeholder="Storage" required maxlength="255">
                        <input type="text" name="display" placeholder="Display" required maxlength="255">
                        <input type="text" name="os" placeholder="Operating System" required maxlength="255">
                        <input type="text" name="battery" placeholder="Battery" required maxlength="255">
                        <input type="text" name="camera" placeholder="Camera" required maxlength="255">
                        <input type="text" name="ports" placeholder="Ports" required maxlength="255">

                    `;
          } else if (option === "monitor") {
            var inputfields = document.getElementById("input");

            inputfields.innerHTML = `
                        <input type="hidden" value="monitor" name="category" maxlength="255">
                        <input type="text" placeholder="Resolution" name="resolution" maxlength="255">
                        <input type="text" placeholder="Size" name="size" maxlength="255">
                        <input type="text" placeholder="Ports" name="ports" maxlength="255">
                        <input type="text" placeholder="Type" name="type" maxlength="255">
                        <input type="text" placeholder="Panel" name="panel" maxlength="255">
                        <input type="text" placeholder="Color" name="color" maxlength="255">
                        <input type="text" placeholder="Response" name="response" maxlength="255">
                        <input type="text" placeholder="Ratio" name="ratio" maxlength="255">
                        <input type="text" placeholder="Refresh" name="refresh" maxlength="255">
                    `;
          } else if (option === "printer") {
            var inputfields = document.getElementById("input");

            inputfields.innerHTML = `
                        <input type="hidden" value="printer" name="category" maxlength="255">
                        <input type="text" placeholder="Model" name="model" maxlength="255">
                        <input type="text" placeholder="Paper" name="paper" maxlength="255">
                        <input type="text" placeholder="DPI" name="dpi" maxlength="255">
                        <input type="text" placeholder="Weight" name="weight" maxlength="255">
                        <input type="text" placeholder="Display" name="display" maxlength="255">
                        <input type="text" placeholder="Color" name="color" maxlength="255">
                        <input type="text" placeholder="Connectivity" name="connectivity" maxlength="255">
                        <input type="text" placeholder="Speed" name="speed" maxlength="255">
                        <input type="text" placeholder="Operating System" name="os" maxlength="255">
                        <input type="text" placeholder="Size" name="size" maxlength="255">
                    `;
          } else if (option === "camera") {
            var inputfields = document.getElementById("input");

            inputfields.innerHTML = `
                        <input type="hidden" value="camera" name="category" maxlength="255">
                        <input type="text" placeholder="Model" name="model" maxlength="255">
                        <input type="text" placeholder="Resolution" name="resolution" maxlength="255">
                        <input type="text" placeholder="Angle" name="angle" maxlength="255">
                        <input type="text" placeholder="Vision" name="vision" maxlength="255">
                        <input type="text" placeholder="Transmission" name="transmission" maxlength="255">
                        <input type="text" placeholder="Waterproof" name="waterproof" maxlength="255">
                        <input type="text" placeholder="Tracking" name="tracking" maxlength="255">
                        <input type="text" placeholder="Storage" name="storage" maxlength="255">
                    `;
          } else if (option === "router") {
            var inputfields = document.getElementById("input");

            inputfields.innerHTML = `
                        <input type="hidden" value="camera" name="category" maxlength="255">
                        <input type="text" placeholder="Model" name="model" maxlength="255">
                        <input type="text" placeholder="Network Standard" name="networkstandard" maxlength="255">
                        <input type="text" placeholder="Data Rate" name="datarate" maxlength="255">
                        <input type="text" placeholder="Antenna" name="antenna" maxlength="255">
                        <input type="text" placeholder="Transmission" name="transmission" maxlength="255">
                        <input type="text" placeholder="wan" name="wan" maxlength="255">
                        <input type="text" placeholder="lan" name="lan" maxlength="255">
                        <input type="text" placeholder="vpn" name="vpn" maxlength="255">
                        <input type="text" placeholder="processor" name="processor" maxlength="255">
                        <input type="text" placeholder="power" name="power" maxlength="255">
                        <input type="text" placeholder="ports" name="ports" maxlength="255">
                    `;
          } else if (option === "switch") {
            var inputfields = document.getElementById("input");

            inputfields.innerHTML = `
                        <input type="hidden" value="camera" name="category" maxlength="255">
                        <input type="text" placeholder="Model" name="model" maxlength="255">
                        <input type="text" placeholder="input" name="input" maxlength="255">
                        <input type="text" placeholder="output" name="output" maxlength="255">
                        <input type="text" placeholder="speed" name="speed" maxlength="255">
                        <input type="text" placeholder="drivers" name="drivers" maxlength="255">
                        <input type="text" placeholder="os" name="os" maxlength="255">
                        <input type="text" placeholder="size" name="size" maxlength="255">
                        <input type="text" placeholder="cable" name="cable" maxlength="255">
                    `;
          }
        }

        function standardinputs(option) {
          var inputfields = document.getElementById("input");

          inputfields.innerHTML = `

                    <input type="hidden" value="${option}" name="category" required>
                    <input type="hidden" value="yes" name="standard" required>
                    <input type="text" name="col1" required maxlength="255">
                    <input type="text" name="col2" required maxlength="255">
                    <input type="text" name="col3" required maxlength="255">
                    <input type="text" name="col4" required maxlength="255">
                    <input type="text" name="col5" required maxlength="255">
                    <input type="text" name="col6" required maxlength="255">
                    <input type="text" name="col7" required maxlength="255">


                `;
        }
      } else {
        document.getElementById("upload").style.display = "none";
        document.getElementById("orders").style.display = "none";
        document.getElementById("users").style.display = "none";
        document.getElementById("adminerror").style.display = "block";
      }

      
      const logout = function () {
        var Cookies = document.cookie.split(";");
        for (var i = 0; i < Cookies.length; i++) {
          document.cookie =
            Cookies[i] + "=;expires=" + new Date(0).toUTCString();
        }
        location.href = "/";
      };



    </script>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
  </body>
</html>
