<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styling/navbar.css" />
    <link rel="stylesheet" href="/styling/passwordchange.css" />
    <link rel="stylesheet" href="/styling/footer.css" />
    <link rel="icon" type="image/png" href="/images/logo/top.png" />
    <title>AMB INFOSYS</title>
    <link rel="icon" href="/images/logo/top.png" />
</head>

<body>
    <div id="wholebox" style="display: block">
        <div id="uppersite">
            <div id="top">
                <a href="/">
                    <p><- Back</p>
                </a>
            </div>

            <div id="mostouterform">
                <h3 id="login">Password Change</h3>
                <div id="border"></div>

                <form method="post" autocomplete="off" onsubmit="return checkpass()">
                    <div id="pass1">
                        <input type="password" name="pass1" id="userpass1" required placeholder="Password" maxlength="32" autocomplete="off" />
                        <input type="checkbox" onclick="showpass('userpass1')" placeholder="Show Password" id="showpassword1" />
                        <label for="showpassword1">
                            <img src="/images/icons/eyewhite.png" alt="" />
                        </label>
                    </div>
                    <div id="pass2">
                        <input type="password" name="pass2" id="userpass2" required placeholder="Re-Password" maxlength="32" autocomplete="off"/>
                        <input type="checkbox" onclick="showpass('userpass2')" placeholder="Show Password" id="showpassword2" />
                        <label for="showpassword2">
                            <img src="/images/icons/eyewhite.png" alt="" />
                        </label>
                    </div>
                    <div id="tokenbox">
                        
                    </div>

                    <div id="passerror" class="errors"></div>
                    <button type="submit">
                        <p>Verify</p>
                    </button>
                </form>

                <div id="border2"></div>
                <div id="medias"></div>

                <img src="/images/background/circuit.jpg" alt="" srcset="" id="formart" />
            </div>
        </div>
    </div>

    <script>


        // var usercookie = document.cookie;
        // var usertoken = usercookie.split(";")[0];



        if (document.URL == null || document.URL == undefined || document.URL === "http://localhost/passwordchange") {

        } else {
            let errorbox = document.getElementById("error");
            const userid = document.URL.split("?")[1].split("=")[1];
            let outerbox = document.getElementById("mostouterform");

            let tokebox = document.getElementById("tokenbox").innerHTML =
            `
            <input type="hidden" name="token" id="token" value="${userid}">
            `

        }

        function showpass(a) {
            let passwordinput = document.getElementById(a);
            if (passwordinput.type === "password") {
                passwordinput.type = "text";
            } else passwordinput.type = "password";
        }

        function checkpass() {
            let password1 = document.getElementById("userpass1");
            let password2 = document.getElementById("userpass2");


            if ((password1.value === password2.value) == true) {
                return true;
            } else {
                document.getElementById("passerror").innerHTML =
                    "<p>Password didn't match</p>";
                return false;
            }
        }





    </script>
</body>

</html>