<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/navbar.css">
    <link rel="stylesheet" href="/styling/footer.css">
    <link rel="stylesheet" href="/styling/product.css">
    <title>AMB INFOSYS</title>
    <link rel="icon" href="/images/logo/top.png">
</head>
<body>

    <div id="navbar">

    </div>



    <div id="outerbox">

        <div id="topbox">
            <div id="topleft">
                    <button onclick="left()" id="leftbutton" class="movebutton">
                        <img src="/images/icons/left.png" alt="" srcset="">
                    </button>

                    <div id="topleftimages">

                    </div>
    
                    <button onclick="right()" id="rightbutton" class="movebutton">
                        <img src="/images/icons/right.png" alt="error" srcset="">
                    </button>
                </div>
            <div id="topright">

            </div>


            
        </div>
        <div id="midbox">

            <div id="specification">

            </div>
            <div id="review" style="display: none;">

                <h1>Review</h1>

                <div id="reviewbox" >
                    <div id="reviewinnerbox" >
                        <h3>Username</h3>
                        <h6>2025-August-8</h6>
                        <p>2025-August-8</p>
                    </div>
                </div>
            </div>

            
        </div>
        <div id="bottombox">
            <div id="latest">
        
            <h3 id="trendingtitle">Explore More</h3>

            <div id="explorebox">      

            </div>
                
            </div>
        </div>

    </div>




    <div id="footer">

        
    </div>



    <script>

        const urlweb = document.URL
        console.log(urlweb)

        const id = urlweb.split("?")[1].split("=")[1]
        const category = urlweb.split("?")[2].split("=")[1]
        console.log(id)
        console.log(category)
        let index = 0
        let maxindex = 0

        const userid = document.cookie
        console.log("User Id",userid)

        let date = new Date()
        const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        const maindate = `${date.getDate()} ${month[date.getMonth()]} ${date.getFullYear()}`
        console.log(maindate)

        function left(){

            if (index > 0){
                index = index - 1
                document.getElementsByClassName("image")[index].style.display = "block";
                
                document.getElementsByClassName("image")[index + 1].style.display = "none";

            }

            
        }
        
        function right(){
            
            if(index < maxindex - 2){
                index = index + 1
                document.getElementsByClassName("image")[index].style.display = "block"; 
                document.getElementsByClassName("image")[index - 1].style.display = "none";
            }

        }



        if (userid == undefined || userid == '' || userid === "" || userid == null){

            fetch("/productdata")
            .then(response => response.json())
            .then(product => {

                for( i in product){
                    if(product[i]["id"] == id){


                        let leftbox = document.getElementById("topleftimages");
                        let images = "";





                        for(j = 1 ; j < product[i]['image'] ; j++){

                            maxindex = product[i]['image']
                            console.log(maxindex)
                            
                            let image = product[i]['imagepath'].split("static")[1] + `/${j}.png`
                            if(j == 1){
                                images += 
                                `
                                <div>
                                    <img class="image" id="${j}" src="${image}" alt="error" style="display:block;">
                                </div>
                                `
                                
                            }else{
                                images += 
                                `
                                <div>
                                    <img class="image" id="${j}" src="${image}" alt="error" style="display:none;">
                                </div>
                                `

                            }
                            console.log(image)
                        }

                        leftbox.innerHTML = images


                        let rightbox = document.getElementById("topright");
                        const npFormatted = new Intl.NumberFormat('en-NP', {
                            style: 'currency',
                            currency: 'NPR'
                        }).format(product[i]["price"]);

                        rightbox.innerHTML =
                        `
                            <h1>${product[i]["pname"]}</h1>
                            <h3>${product[i]["specification"]}</h3>
                            <p id="price">${npFormatted}</p>
                            <form action="/login" method="get">
                                <p>Quantity</p>
                                <input value="1" name="quantity" type="number" placeholder="Quantity" min="1" max="${product[i]["quantity"]}">
                                <input value="${product[i]["pname"]}" name="name" type="hidden">
                                <input value="${product[i]["category"]}" name="category" type="hidden">
                                <input value="${product[i]["id"]}" name="id" type="hidden">
                                <a href="/login" id="loginlink">
                                    <p>Buy Now</p>
                                </a>
                            </form>

                        `



            
                        console.log( "standard" ,product[i]["standard"])
                        let specification = document.getElementById('specification');
                        if(product[i]['standard'] == null){
            
                            fetch(`/${category}data`)
                            .then(response => response.json())
                            .then(product => {
                
                                for( i in product){
                                    if(product[i]["id"] == id){
                                        console.log(category)
                                        console.log(product[i])
                
                                        if(category === "laptop"){
                
                
                                            specification.innerHTML = 
                                            `
                                            
                                            <h1>Specification</h1>
                                            <table>
                                                <tr>
                                                    <th>Model</th>
                                                    <td>${product[i]["model"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Series</th>
                                                    <td>${product[i]["series"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Type</th>
                                                    <td>${product[i]["type"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Generation</th>
                                                    <td>${product[i]["generation"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Processor</th>
                                                    <td>${product[i]["processor"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Graphics</th>
                                                    <td>${product[i]["graphics"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ram</th>
                                                    <td>${product[i]["ram"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Storage</th>
                                                    <td>${product[i]["storage"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Display</th>
                                                    <td>${product[i]["display"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Camera</th>
                                                    <td>${product[i]["camera"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ports</th>
                                                    <td>${product[i]["ports"]}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>Operating System</th>
                                                    <td>${product[i]["os"]}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>Battery</th>
                                                    <td>${product[i]["battery"]}</td>
                                                </tr>
                                                
                
                                            </table>
                                        
                    
                    
                                            `
                                        }else if(category === "printer"){
                                            console.log("it's a printer")
                                            specification.innerHTML = 
                                            `
                                            <h1>Specification</h1>
                                            <table>
                                                <tr>
                                                    <th>Model</th>
                                                    <td>${product[i]["model"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Paper</th>
                                                    <td>${product[i]["paper"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Color</th>
                                                    <td>${product[i]["color"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Display</th>
                                                    <td>${product[i]["display"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>DPI</th>
                                                    <td>${product[i]["dpi"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Connectivity</th>
                                                    <td>${product[i]["connectivity"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Speed</th>
                                                    <td>${product[i]["speed"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Weight</th>
                                                    <td>${product[i]["weight"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>${product[i]["size"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Operating System</th>
                                                    <td>${product[i]["os"]}</td>
                                                </tr>
                
                                            </table>
                    
                    
                                            `
                                        }else if(category === "monitor"){
                                            specification.innerHTML = 
                                            `
                                            <h1>Specification</h1>
                                            <table>
                                                <tr>
                                                    <th>Resolution</th>
                                                    <td>${product[i]["resolution"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Type</th>
                                                    <td>${product[i]["type"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Panel</th>
                                                    <td>${product[i]["panel"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>${product[i]["size"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Refresh Rate</th>
                                                    <td>${product[i]["refresh"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Aspect Ratio</th>
                                                    <td>${product[i]["ratio"]}</td>
                                                </tr>
            
                                                <tr>
                                                    <th>Response</th>
                                                    <td>${product[i]["response"]}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>Ports</th>
                                                    <td>${product[i]["ports"]}</td>
                                                </tr>   
                
                                            </table>

                                            `
                
                                        }
                
                                    }
                                }
                
                            })
                        }else if(product[i]["standard"] === 'yes'){
                                                    
                            fetch(`/standard`)
                            .then(response => response.json())
                            .then(product => {
                
                                for( i in product){
                                    if(product[i]["id"] == id){
                                        console.log(category)
                                        console.log(product[i])
            
            
            
                                        specification.innerHTML = 
                                        `
                                        <h1>Specification</h1>
                                        <ul>
                                            <li>
                                                <td>${product[i]["col1"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col2"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col3"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col4"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col5"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col6"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col7"]}</td>
                                            </li>
            
                                        </ul>
                
                                        `
                                        
                
                                    }
                                }
                
                            })
                        }
            
                        

                    }    
                }                

            })

        }else{
            
            fetch("/productdata")
            .then(response => response.json())
            .then(product => {

                for( i in product){
                    if(product[i]["id"] == id){


                        let leftbox = document.getElementById("topleft");
                        let images = "";





                        for(j = 1 ; j < product[i]['image'] ; j++){

                            maxindex = product[i]['image']
                            console.log(maxindex)
                            
                            let image = product[i]['imagepath'].split("static")[1] + `/${j}.png`
                            if(j == 1){
                                images += 
                                `
                                <div>
                                    <img class="image" id="${j}" src="${image}" alt="error" style="display:block;">
                                </div>
                                `
                                
                            }else{
                                images += 
                                `
                                <div>
                                    <img class="image" id="${j}" src="${image}" alt="error" style="display:none;">
                                </div>
                                `

                            }
                            console.log(image)
                        }

                        leftbox.innerHTML = images


                        let rightbox = document.getElementById("topright");
                        const npFormatted = new Intl.NumberFormat('en-NP', {
                            style: 'currency',
                            currency: 'NPR'
                        }).format(product[i]["price"]);


                        rightbox.innerHTML =
                        `
                            <h1>${product[i]["pname"]}</h1>
                            <h3>${product[i]["specification"]}</h3>
                            <p id="price">${npFormatted}</p>
                            <form action="/checkout" method="get">
                                <p>Quantity</p>
                                <input value="1" name="quantity" type="number" placeholder="Quantity" min="1" max="${product[i]["quantity"]}">
                                <input value="${product[i]["pname"]}" name="name" type="hidden">
                                <input value="${product[i]["category"]}" name="category" type="hidden">
                                <input value="${product[i]["id"]}" name="id" type="hidden">
                                <button type="submit">
                                    <p>Buy Now</p>
                                </button>
                            </form>

                        `



            
                        console.log( "standard" ,product[i]["standard"])
                        let specification = document.getElementById('specification');
                        if(product[i]['standard'] == null){
            
                            fetch(`/${category}data`)
                            .then(response => response.json())
                            .then(product => {
                
                                for( i in product){
                                    if(product[i]["id"] == id){
                                        console.log(category)
                                        console.log(product[i])
                
                                        if(category === "laptop"){
                
                
                                            specification.innerHTML = 
                                            `
                                            <h1>Specification</h1>
                                            <table>
                                                <tr>
                                                    <th>Model</th>
                                                    <td>${product[i]["model"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Series</th>
                                                    <td>${product[i]["series"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Type</th>
                                                    <td>${product[i]["type"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Generation</th>
                                                    <td>${product[i]["generation"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Processor</th>
                                                    <td>${product[i]["processor"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Graphics</th>
                                                    <td>${product[i]["graphics"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ram</th>
                                                    <td>${product[i]["ram"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Storage</th>
                                                    <td>${product[i]["storage"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Display</th>
                                                    <td>${product[i]["display"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Camera</th>
                                                    <td>${product[i]["camera"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ports</th>
                                                    <td>${product[i]["ports"]}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>Operating System</th>
                                                    <td>${product[i]["os"]}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>Battery</th>
                                                    <td>${product[i]["battery"]}</td>
                                                </tr>
                                                
                
                                            </table>
                    
                    
                                            `
                                        }else if(category === "printer"){
                                            console.log("it's a printer")
                                            specification.innerHTML = 
                                            `
                                            <h1>Specification</h1>
                                            <table>
                                                <tr>
                                                    <th>Model</th>
                                                    <td>${product[i]["model"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Paper</th>
                                                    <td>${product[i]["paper"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Color</th>
                                                    <td>${product[i]["color"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Display</th>
                                                    <td>${product[i]["display"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>DPI</th>
                                                    <td>${product[i]["dpi"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Connectivity</th>
                                                    <td>${product[i]["connectivity"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Speed</th>
                                                    <td>${product[i]["speed"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Weight</th>
                                                    <td>${product[i]["weight"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>${product[i]["size"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Operating System</th>
                                                    <td>${product[i]["os"]}</td>
                                                </tr>
                
                                            </table>
                    
                    
                                            `
                                        }else if(category === "monitor"){
                                            specification.innerHTML = 
                                            `
                                            <h1>Specification</h1>
                                            <table>
                                                <tr>
                                                    <th>Resolution</th>
                                                    <td>${product[i]["resolution"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Type</th>
                                                    <td>${product[i]["type"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Panel</th>
                                                    <td>${product[i]["panel"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>${product[i]["size"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Refresh Rate</th>
                                                    <td>${product[i]["refresh"]}</td>
                                                </tr>
                                                <tr>
                                                    <th>Aspect Ratio</th>
                                                    <td>${product[i]["ratio"]}</td>
                                                </tr>
            
                                                <tr>
                                                    <th>Response</th>
                                                    <td>${product[i]["response"]}</td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>Ports</th>
                                                    <td>${product[i]["ports"]}</td>
                                                </tr>   
                
                                            </table>
                    
                                            `
                
                                        }
                
                                    }
                                }
                
                            })
                        }else if(product[i]["standard"] === 'yes'){
                                                    
                            fetch(`/standard`)
                            .then(response => response.json())
                            .then(product => {
                
                                for( i in product){
                                    if(product[i]["id"] == id){
                                        console.log(category)
                                        console.log(product[i])
            
            
            
                                        specification.innerHTML = 
                                        `
                                        <h1>Specification</h1>
                                        <ul>
                                            <li>
                                                <td>${product[i]["col1"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col2"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col3"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col4"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col5"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col6"]}</td>
                                            </li>
                                            <li>
                                                <td>${product[i]["col7"]}</td>
                                            </li>
            
                                        </ul>
                
                                        `
                                        
                
                                    }
                                }
                
                            })
                        }
            
                        

                    }    
                }                

            })


        }
                
        fetch("/productdata")
        .then(response => response.json())
        .then(product => {

            exploremoreindex = Math.floor(Math.random()*(product.length - 0) ) + 0


            exploreindex = 0
            for(i in product){
                if (exploreindex < 3){
                    var latestbox = document.getElementById("explorebox")
                    var sides = ["side" , "middle" , "side" , "none"]
                    let imagedir = product[exploremoreindex]["imagepath"].split("static")[1] + "/1.png"
                    const npFormatted = new Intl.NumberFormat('en-NP', {
                        style: 'currency',
                        currency: 'NPR',
                        minimumFractionDigits:0,
                        maximumFractionDigits:0
                    }).format(product[exploremoreindex]["price"]);


                    let ratingbox = null

                    let description = '';

                    for(r = 0 ; r < 90 ; r++){
                        if(product[exploremoreindex]["specification"][r] != undefined){
                            description = description + product[exploremoreindex]["specification"][r]
                        }
                    }

                    description = description.trim() + "...."

                    if(product[exploremoreindex]["rating"] === null){
                        ratingbox =
                        `
                            <img src="/images/icons/star.png" alt="" srcset="">
                            <img src="/images/icons/star.png" alt="" srcset="">
                            <img src="/images/icons/star.png" alt="" srcset="">
                            <img src="/images/icons/star.png" alt="" srcset="">
                            <img src="/images/icons/star.png" alt="" srcset="">
                        
                        `
                    }else{
                        for(i in product[exploremoreindex]["rating"]){
                            ratingbox += 
                            `
                                <img src="/images/icons/starfilled.png" alt="" srcset="">
                            `
                        }
                    }

                    let title = '';

                    for(r = 0 ; r < 25 ; r++){
                        if(product[exploremoreindex]["pname"][r] != undefined){
                            title = title + product[exploremoreindex]["pname"][r]
                        }
                    }



                    title = title.trim() + "...."
                    

                    
                    latestbox.innerHTML += 
                        `
                        <div id="product">
                            <div id="top">
                                <div id="price">
                                <p id="price">${npFormatted}</p>
                                </div>
                            </div>
                            <div id="img">
                                <img src="${imagedir}" alt="Error" srcset="">
                            </div>
                            <div id="description">
                                <h4>${product[exploremoreindex]["category"]}</h4>
                                <h5>${title}</h5>
                                <div id="border"></div>
                                <h6>${description}</h6>
                            </div>
                            
                            <a href="/product?id=${product[exploremoreindex]["id"]}?category=${product[exploremoreindex]["category"]}?name=${product[exploremoreindex]["pname"]}">
                            <div id="button"> 
                                    Shop Now
                            </div>
                            </a>
                        </div>
                                
                        `
                    exploreindex += 1;
                    exploremoreindex = Math.floor(Math.random()*(product.length - 0) ) + 0

                    console.log("index" , index)
                    
                    

                                
                }
            }

        
                                
        })




        

    </script>




    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>