<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styling/navbar.css" />
  <link rel="stylesheet" href="/styling/footer.css" />
  <link rel="stylesheet" href="/styling/profile.css" />
  <title>AMB INFOSYS</title>
  <link rel="icon" href="/images/logo/top.png" />
</head>

<body>
  <div id="navbar"></div>

  <div id="outerprofile">
    <div id="innerprofile">
      <div id="left">
        <h1></h1>
        <h3></h3>
        <h6></h6>
      </div>
      <div id="right">
        <p></p>
        <button></button>
      </div>
    </div>

    <h1>Orders</h1>
    <div id="outerorder">

    </div>
  </div>

  <script>
    let cookie = document.cookie;
    let id = cookie.split(";")[0].split("=")[1];


    fetch(`/api/usersdata/${id}`, {
      headers: { "token": `Bearer ${id}` }
    })
      .then((response) => response.json())
      .then((users) => {
        for (i in users) {
          console.log(users)
          if (users[0]["token"] == id) {


            let profilebox = document.getElementById("innerprofile");

            let spending = "";
            if (users[0]["spending"] == null) {
              spending = "0.00";
            } else {
              spending = users[0]["spending"];
            }

            var verification;

            if(users[0]["verification"] === "null" || users[0]["verification"] == null || !users[0]["verification"]){
              var verification = `
              <h6 style="color:red;font-size:1em; font-weight:1000;">Not VERIFIED</h6>
              `

            }else{
              if(users[0]["verification"].toUpperCase() === "verified".toUpperCase()){
                var verification = `
                <h6 style="color:green; font-size:1em; font-weight:1000;">VERIFIED</h6>
                `
              }else{
                var verification = `
                <h6 style="color:red;font-size:1em; font-weight:1000;">Not VERIFIED</h6>
                `
                
              }

            }
            

            profilebox.innerHTML = `
                    
              <div id="left">
                  <h1>${users[0]["firstname"]} ${users[0]["secondname"]}</h1>
                  
                  <h3>${users[0]["username"]}</h3>
                  <h6>${users[0]["usermail"]}</h6>
                  </div>
                  <div id="right">
                    
                    <h3>Rs.${spending}</h3>
                    ${verification}
                  <button onclick="logout()">Logout</button>

              </div>`;
          }
        }
      });

    fetch(`/api/orderdata/${id}`, {
      headers: { "token": `Bearer ${id}` }
    })
      .then((response) => response.json())
      .then((orders) => {
        let outerbox = document.getElementById("outerorder");
        console.log(orders)

        for (i in orders) {
          if (orders[i]["customerid"] == id) {
            const npFormatted = new Intl.NumberFormat("en-NP", {
              style: "currency",
              currency: "NPR",
              maximumFractionDigits:0,
              minimumFractionDigits:0
            }).format(orders[i]["cost"]);


            let cancelbutton =
              `
                <button type="submit" id="cancelbutton">
                    <p>Deliver</p>
                </button>
              `

            if (orders[i]["status"] === "On Delivery") {
              cancelbutton =
                `
                  <button type="submit" id="cancelbutton" disabled>
                      <p>On Delivery</p>
                  </button>
                `
              console.log(orders[i]["status"])
            } else if (orders[i]["status"] === "To Be Delivered") {
              cancelbutton =
                `
                  <button type="submit" id="cancelbutton">
                      <p>Cancel</p>
                  </button>
                `

            }


            outerbox.innerHTML += `


                <a href="/product?id=${orders[i]["id"]}?category=${orders[i]["category"]}">
                    <div id="innerorder">

                      <div id="left">
                        <h3>${orders[i]['pname']}</h3>
                        <h4>Ordered By ${orders[i]["customer"]}</h4>
                        <h4>Contact :${orders[i]["phone"]}</h4>
                        <h4>Quantity :${orders[i]["quantity"]} pcs</h4>
                        <p>Status Currently is ${orders[i]["status"]}</p>
                        </div>
                        
                      <div id="right">
                          <p>${npFormatted}</p>
                        <form action="/deleteorder" method="post" >
                            <input name="orderid" value="${orders[i]["ordernumber"]}" type="hidden">
                            ${cancelbutton}
                        </form>
                      </div>
                    </div>

                </a> `;


          }
        }
      });

    const logout = function () {
      var Cookies = document.cookie.split(";");
      for (var i = 0; i < Cookies.length; i++) {
        document.cookie =
          Cookies[i] + "=;expires=" + new Date(0).toUTCString();
      }
      location.href = "/";
    };
  </script>
  <script src="/scripts/navbar.js"></script>
</body>

</html>