<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styling/navbar.css" />
    <link rel="stylesheet" href="/styling/footer.css" />
    <link rel="stylesheet" href="/styling/policies.css" />
    <title>AMB INFOSYS</title>
    <link rel="icon" href="/images/logo/top.png" />
</head>

<body>
    <div id="navbar"></div>

    <div id="footer"></div>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>

</html>