<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/navbar.css">
    <link rel="stylesheet" href="/styling/footer.css">
    <link rel="stylesheet" href="/styling/search.css">
    <title>Document</title>
</head>
<body>

    <div id="navbar">

    </div>


    <div id="outerbox">

        <div id="innerbox">


        </div>

    </div>


    <div id="footer">

        
    </div>



    
     <script>
        var urlweb = document.URL
        var productname = urlweb.split("?")[1].split("=")[1]
        
        
        function namecheck(name){
            
            var urlname = document.URL.toLowerCase().trim().split("=")[1].split("+")
            var splitedname = name.toLowerCase().trim().split(" ")
            

            for(r in urlname){
                for(j in splitedname){
                    if(urlname[r] === splitedname[j]){
                        return true
                    }
                    
                }
            }

        }

        
        fetch("/productdata")
        .then(response => response.json())
        .then(products => {
            console.log(products)
            var innerindex = 0
            for (i in products){
                

                if(namecheck(products[i]["pname"])){
                    console.log("name matched")

                    var innerbox = document.getElementById("innerbox")
                    var sides = ["side" , "middle" , "side" , "none"]
                    let imagedir = products[i]["imagepath"].split("static")[1] + "/1.png"
                    console.log("Our Image dir :" , imagedir)

                    const npFormatted = new Intl.NumberFormat('en-NP', {
                        style: 'currency',
                        currency: 'NPR',
                        minimumFractionDigits:0,
                        maximumFractionDigits:0
                    }).format(products[i]["price"]);
                    let description = '';

                    for(r = 0 ; r < 90 ; r++){
                        if(products[i]["specification"][r] != undefined){
                            description = description + products[i]["specification"][r]
                        }
                    }



                    description = description.trim() + "...."

                    let title = '';

                    for(r = 0 ; r < 32 ; r++){
                        if(products[i]["pname"][r] != undefined){
                            title = title + products[i]["pname"][r]
                        }
                    }



                    title = title.trim() + "...."
                    innerbox.innerHTML += 
                        `
                            <div id="product">
                                <div id="top">
                                    <div id="price">
                                    <p id="price">${npFormatted}</p>
                                    </div>
                                </div>
                                <div id="img">
                                    <img src="${imagedir}" alt="Error" srcset="">
                                </div>
                                <div id="description">
                                    <h4>${products[i]["category"]}</h4>
                                    <h5>${title}</h5>
                                    <div id="border"></div>
                                    <h6>${description}</h6>
                                </div>
                                
                                <a href="/product?id=${products[i]["id"]}?category=${products[i]["category"]}?name=${products[i]["pname"]}">
                                <div id="button"> 
                                        Shop Now
                                </div>
                                </a>
                            </div>
                                
                        `
                    innerindex += 1;
                                    
                                       
                    }
                }
            }
        )



    </script>



    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/footer.js"></script>
</body>
</html>